<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Projet_TODO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>homeController</display-name>
    <servlet-name>homeController</servlet-name>
    <servlet-class>com.projetTODO.controllers.homeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>categorieController</display-name>
    <servlet-name>categorieController</servlet-name>
    <servlet-class>com.projetTODO.controllers.categorieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categorieController</servlet-name>
    <url-pattern>/categorieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tacheController</display-name>
    <servlet-name>tacheController</servlet-name>
    <servlet-class>com.projetTODO.controllers.tacheController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tacheController</servlet-name>
    <url-pattern>/tacheController</url-pattern>
  </servlet-mapping>
</web-app>